body {
    display: flex;
    flex-direction: column;
    margin-left: 70px;
    background-color: rgb(37, 37, 37);
    color: white;
}
.houses div,
.KEM div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    font-size: 20px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

button {
    margin-top: 5px;
}

input {
}
